/*PADAO*/
html{}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,button,textarea,p,blockquote,th,td,fieldset{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
img,fieldset{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;font-family: 'Oswald', sans-serif;}
p{font-family: 'Oswald', sans-serif;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
input{font-family: 'Oswald', sans-serif;}
input,button,textarea,select,optgroup,option{font-family: 'Oswald', sans-serif;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
cufon cufontext{display: inline-block !important;height: 0 !important;text-indent: -10000in !important;width: 0 !important;}
body{font:normal 16px 'Calibri_Regular'; color:#948c7b;}
	*{ outline:none;}
	a:link, a:active, a:visited{text-decoration:none; outline:none; color: #6b6455;}
		a:hover{color: #ffffff; cursor: pointer;}
		a img, img{display:block;}
	::selection {background:#df2e2c; color:#ffffff;} 
	::-webkit-selection {background:#df2e2c; color:#ffffff;}
	::-moz-selection {background:#df2e2c; color:#ffffff;}
	::-webkit-input-placeholder {color: #dedede; font-family: 'Calibri_Regular';}
	::-moz-placeholder {color: #dedede; font-family: 'Calibri_Regular';}
	:-ms-input-placeholder {color: #dedede; font-family: 'Calibri_Regular';}
	:-moz-placeholder {color: #dedede; font-family: 'Calibri_Regular';}

.conteudo {margin-right: auto;margin-left: auto;padding-left: 15px;padding-right: 15px;}
.linha {margin-left: -15px;margin-right: -15px;position: relative;}
.clear{clear:both;}



/*HEADER*/
.header{}
#topo{font-family: 'Oswald', sans-serif;}
.menu{height: 150px;background-color: #7b0000;}
	.menu img{width: 7%;float: left;padding: 1px 4px;border: solid 1px #7b0000;border-radius: 70px;background: #000;box-shadow: 0 0 29px 10px;margin-left: 30px;margin-top: 20px;}
        .menu h1{float: left;margin-top: 58px;margin-left: 20px;font-size: 40px;text-transform: uppercase;color: #ffffffcf;}          
                  .menu ul{float: right;padding-top: 70px;}
                    .menu ul li{display: inline;}
        .menu ul li a{color: #fff;font-size: 20px;margin-right: 30px;border: solid 1px #151414;padding: 10px 10px;box-shadow: 0px 0px 33px 0px;background-color: #000;border-radius: 15px;}
        	.menu ul li a:hover{background-color: #fff;color: #000;}
        .menu ul li i{margin-right: 10px;}


    
.categorias{background-color: #000;}
    .categorias form{}
    .categorias select{}
    .categorias option{}
    .categorias input{}
    
    
    
          
                
                
/*FOOTER*/
footer{}
#rodape{font-family: 'Oswald', sans-serif;}
.newsLetter{height: 80px;background-color:#7b0000;text-transform: uppercase;}
    .newsLetter ul{padding-top: 20px;margin-right: 50px;}
        .newsLetter ul li{}
            .newsLetter ul li p{font-family: 'Oswald', sans-serif; color: #ffffff;text-transform: uppercase;padding-top: 10px;width: 320px;display: block;margin: 0 auto;}
            .newsLetter ul li a{font-family: 'Oswald', sans-serif;float: right;background-color: #000000;color: #ffffff;padding: 6px 10px 10px 10px;margin: -39px 9px;border: solid 2px #000;}
                .newsLetter ul li a:hover{background-color: #ffffff;color: #000000;}
    .newsLetter label{font-family: 'Oswald', sans-serif;text-transform: uppercase;font-size: 35px;color: #ffffff;margin: -9px 120px;float: left;}
    .newsLetter input{width: 300px;height: 40px;border: solid 2px #000000;float: right;margin: -39px 75px;}
    
.formasPagamento{background-color: #292525;}    
    .formasPagamento ul.pagamentos{margin: 0px 60px;padding-top: 30px;padding-bottom: 30px;border-bottom: solid 1px #c2c2c2;}
        .formasPagamento ul.pagamentos h2{text-transform: uppercase;color: #ffffff;}
        .formasPagamento ul.pagamentos li{display: inline;width: 50%;}
            .formasPagamento ul.pagamentos li img{display: inline;}
            
.informacoesRodape{background-color: #292525;height: 200px;}     
    .informacoesRodape ul.duvidas{float: left;padding-top: 20px;padding-left: 60px;width: 30%;}  
        .informacoesRodape ul.duvidas h2{color: #fff;font-size: 20px;}
        .informacoesRodape ul.duvidas li{}
            .informacoesRodape ul.duvidas li a{color: #c2c2c2b5;font-family: 'Oswald', sans-serif;}
                .informacoesRodape ul.duvidas li a:hover{color: #7b0000;}
            
    .informacoesRodape ul.institucional{float: right;margin: 0;width: 30%;padding-top: 30px;}  
        .informacoesRodape ul.institucional h2{color: #fff;font-size: 20px;}
        .informacoesRodape ul.institucional li{}
            .informacoesRodape ul.institucional li a{color: #c2c2c2b5;font-family: 'Oswald', sans-serif;}
                .informacoesRodape ul.institucional li a:hover{color: #7b0000;}
            
    .informacoesRodape ul.central{float: right;width: 30%;padding-top: 30px;}  
        .informacoesRodape ul.central h2{color: #fff;font-size: 20px;}
        .informacoesRodape ul.central li{}
            .informacoesRodape ul.central li a{color: #c2c2c2b5;font-family: 'Oswald', sans-serif;}
                .informacoesRodape ul.central li a:hover{color: #7b0000;}
                
.assinatura{background-color: #000;text-align: center;}
    .assinatura img{width: 7%;margin: 0 auto;}
    .assinatura p{font-size: 14px; padding-bottom: 5px;}
        .assinatura p a{font-size: 15px;color: #6b6455;}
            .assinatura a:hover{color:#fff;}

/*CADASTRO*/
.cadastro{font-family: 'Oswald', sans-serif;}
    .selecionarCadastro{}
        .selecionarCadastro ul{padding: 70px;}
            .selecionarCadastro ul li{border: outset;border-radius: 80px;padding: 45px;margin: 217px 210px;text-align: center;
                                     width: 70px;display: inline-block;}
                .selecionarCadastro ul li:hover:first-child{background-color: #3844cea1;cursor: pointer;}
                .selecionarCadastro ul li:hover:last-child{background-color: #CE3838A1;cursor: pointer;}
                .selecionarCadastro ul li:first-child{float: left;background-color: #CE3838A1;box-shadow: 0px 0px 15px 5px #000;}
                .selecionarCadastro ul li:last-child{float: right;background-color: #3844cea1;box-shadow: 0px 0px 15px 5px #000;}
                .selecionarCadastro ul li a{text-decoration: none;font-size: 19px;color: #f9f9f9;text-transform: lowercase;}
                               
/*LOGIN E INICIO CADASTRO*/   
.identificar{font-family: 'Oswald', sans-serif;background-color: #000;min-height: 650px;}
.formLogin{float: left;width: 30%;margin-left: 200px;}
    .formLogin form{margin-left: 50px;padding-top: 90px;}
    .formLogin i{font-size: 36px;border: solid 1px #fff;color: #fff;padding: 16px 22px;border-radius: 34px;margin-left: 120px;}
    .formLogin h1{text-transform: uppercase;color: #db531e;font-size: 23px;border-bottom: solid 1px;margin-bottom: 10px;margin-right: 70px;margin-top: 15px;}
    .formLogin p{color: #ffffff;margin: 16px 0px;width: 331px;}
    .formLogin span{color: #fff;}
    .formLogin fieldset{}
    .formLogin label{}
    .formLogin input{background-color: #000;color: #fff;border: solid 1px #fff;padding: 5px;margin-bottom: 15px;width: 296px;}
    .formLogin button{background-color: #7b0000;cursor: pointer;border: none;  padding: 7px 136px;color: #d2cbcb;font-size: 18px;}
    
    
    
    
    .formCadastro{font-family: 'Oswald', sans-serif;float: right;width: 30%;margin-right: 200px;}
    .formCadastro form{margin-left: 50px;padding-top: 90px;}
    .formCadastro i{font-size: 30px;border: solid 1px #fff;color: #fff;padding: 20px 20px;border-radius: 36px;margin-left: 120px;}
    .formCadastro h1{text-transform: uppercase;color: #db531e;font-size: 23px;border-bottom: solid 1px;margin-bottom: 10px;margin-right: 27px;margin-top: 15px;}
    .formCadastro p{color: #ffffff;margin: 16px 0px;width: 331px;}
    .formCadastro span{color: #fff;}
    .formCadastro fieldset{}
    .formCadastro label{}
    .formCadastro input{background-color: #000;color: #fff;border: solid 1px #fff;padding: 5px;margin-bottom: 15px;width: 338px;}
    .formCadastro button{background-color: #7b0000;cursor: pointer;border: none;  padding: 7px 136px;color: #d2cbcb;font-size: 18px;}
    
    
    
/*loginCadastro*/
#acesso{font-family: 'Oswald', sans-serif;background-color: #f2f2f2; height: 300px; width: 300px;}

#login{font-family: 'Oswald', sans-serif;background-color: #fff; height: 300px; width: 300px;}



/*FORMULARIO CLIENTE*/

#cadastroCliente{background-color: #000;padding-bottom: 110px;font-family: 'Oswald', sans-serif;}
.formularioCadastro{}
    .formularioCadastro form{width: 90%;margin: 0 auto;background-color: #fff;}
        .formularioCadastro button.enviar{cursor: pointer;float: right;margin-right: 70px;width: 370px;padding: 6px 0px;background-color: #00f313;font-size: 18px;border: none;margin-top: 15px;}
        .formularioCadastro button.cancelar{cursor: pointer;float: left;margin-left: 70px;width: 370px;padding: 6px 0px;background-color: #ff2f00;font-size: 18px;border: none;margin-top: 15px;}
        .formularioCadastro form fieldset{}
            .formularioCadastro form fieldset h1{background-color: #7b0000;font-size: 20px;text-transform: uppercase;color: #fff;padding: 10px 0px;text-align: center;font-family: 'Oswald', sans-serif;}
            .formularioCadastro form fieldset ul.listaPincipal{width:100%}
                .formularioCadastro form fieldset ul.listaPincipal li{width: 49%;display: inline-block;}
                .formularioCadastro form fieldset ul.listaPincipal li ul.dadosPessoais{width: 40%;margin-top: 10px;}
                    .formularioCadastro form fieldset ul.listaPincipal li ul.dadosPessoais h2{background-color: #000;width: 515px;text-align: center;padding: 10px 0px;font-family: 'Oswald', sans-serif;}
                        .formularioCadastro form fieldset ul.listaPincipal li ul.dadosPessoais h2 span{font-size: 18px;color: #fff;}
                    .formularioCadastro form fieldset ul.listaPincipal li ul.dadosPessoais li{display: inline-grid;}
                        .formularioCadastro form fieldset ul.listaPincipal li ul.dadosPessoais li label{margin-top: 15px;font-size: 17px;color: #000;font-weight: bolder;font-family: 'Oswald', sans-serif;}
                        .formularioCadastro form fieldset ul.listaPincipal li ul.dadosPessoais li input{padding: 10px;width: 490px;font-family: 'Oswald', sans-serif;}
                        .formularioCadastro form fieldset ul.listaPincipal li ul.dadosPessoais li select{width: 28%;font-family: 'Oswald', sans-serif;}
                        .formularioCadastro form fieldset ul.listaPincipal li ul.dadosPessoais li option{font-family: 'Oswald', sans-serif;}
        
        .formularioCadastro form fieldset ul.listaPincipal{width:100%}
                .formularioCadastro form fieldset ul.listaPincipal li{width: 49%;display: inline-block;}
                .formularioCadastro form fieldset ul.listaPincipal li ul.dadosContato{width: 40%;margin-top: 10px;}
                    .formularioCadastro form fieldset ul.listaPincipal li ul.dadosContato h2{background-color: #000;width: 515px;text-align: center;padding: 10px 0px;font-family: 'Oswald', sans-serif;}
                        .formularioCadastro form fieldset ul.listaPincipal li ul.dadosContato h2 span{font-size: 18px;color: #fff;}
                    .formularioCadastro form fieldset ul.listaPincipal li ul.dadosContato li{display: inline-grid;}
                        .formularioCadastro form fieldset ul.listaPincipal li ul.dadosContato li label{margin-top: 15px;font-size: 17px;color: #000;font-weight: bolder;font-family: 'Oswald', sans-serif;}
                        .formularioCadastro form fieldset ul.listaPincipal li ul.dadosContato li input{padding: 10px;width: 490px;font-family: 'Oswald', sans-serif;}

        
        .formularioCadastro form fieldset ul.listaPincipal{width:100%}
                .formularioCadastro form fieldset ul.listaPincipal li{width: 49%;display: inline-block;}
                .formularioCadastro form fieldset ul.listaPincipal li ul.dadosAcesso{width: 40%;margin-top: 10px;}
                    .formularioCadastro form fieldset ul.listaPincipal li ul.dadosAcesso h2{background-color: #000;width: 515px;text-align: center;padding: 10px 0px;font-family: 'Oswald', sans-serif;}
                        .formularioCadastro form fieldset ul.listaPincipal li ul.dadosAcesso h2 span{font-size: 18px;color: #fff;}
                    .formularioCadastro form fieldset ul.listaPincipal li ul.dadosAcesso li{display: inline-grid;}
                        .formularioCadastro form fieldset ul.listaPincipal li ul.dadosAcesso li label{margin-top: 15px;font-size: 17px;color: #000;font-weight: bolder;font-family: 'Oswald', sans-serif;}
                        .formularioCadastro form fieldset ul.listaPincipal li ul.dadosAcesso li input{padding: 10px;width: 490px;font-family: 'Oswald', sans-serif;}
                        
        .formularioCadastro form fieldset ul.listaPincipal{width:100%}
                .formularioCadastro form fieldset ul.listaPincipal li{width: 46%;display: inline-block;margin-bottom: 5px;margin-left: 15px;}
                .formularioCadastro form fieldset ul.listaPincipal li ul.dadosEndereco{width: 40%;margin-top: 10px;}
                    .formularioCadastro form fieldset ul.listaPincipal li ul.dadosEndereco h2{background-color: #000;width: 515px;text-align: center;padding: 10px 0px;font-family: 'Oswald', sans-serif;}
                        .formularioCadastro form fieldset ul.listaPincipal li ul.dadosEndereco h2 span{font-size: 18px;color: #fff;}
                    .formularioCadastro form fieldset ul.listaPincipal li ul.dadosEndereco li{display: inline-grid;}
                        .formularioCadastro form fieldset ul.listaPincipal li ul.dadosEndereco li label{margin-top: 15px;font-size: 17px;color: #000;font-weight: bolder;font-family: 'Oswald', sans-serif;}
                        .formularioCadastro form fieldset ul.listaPincipal li ul.dadosEndereco li input{padding: 10px;width: 490px;font-family: 'Oswald', sans-serif;}
                        .formularioCadastro form fieldset ul.listaPincipal li ul.dadosEndereco li select{width: 28%;font-family: 'Oswald', sans-serif;}
                        .formularioCadastro form fieldset ul.listaPincipal li ul.dadosEndereco li option{font-family: 'Oswald', sans-serif;}                
                        
/*LIST CLIENTE*/
#listCliente{background-color: #000;font-family: 'Oswald', sans-serif;}
.listagem{padding-top: 40px;}
    .listagem .pesquisar{text-align: center;background-color: #7b0000;font-family: 'Oswald', sans-serif;}
        .listagem .pesquisar label{font-size: 18px;color: #fff;text-transform: uppercase;}
        .listagem .pesquisar input{width: 490px;padding: 6px;font-family: 'Oswald', sans-serif;}
        .listagem .pesquisar button{padding: 6px;background-color: #000;color: #fff;border: solid 2px #fff;box-shadow: 0 0 13px 1px;font-family: 'Oswald', sans-serif;}

    .listagem table{margin: 0px auto;border: solid 1px #fff;}
        .listagem table thead{}
            .listagem table thead tr{}
                .listagem table thead tr th{width: 100px;text-align: center;color: #fff;font-family: 'Oswald', sans-serif;}
        .listagem table tbody{}
            .listagem table tbody tr{}
                .listagem table tbody tr td{color: #fff;width: 91px;font-family: 'Oswald', sans-serif;}
                    .listagem table tbody tr td a{color: #fff;background-color: #7b0000;padding: 0 20px;}
                    .listagem table tbody tr td a:hover{color: #000;background-color: #fff;}


/*PAGINA BASE*/
#principal {font-family: 'Oswald', sans-serif;background-image: url("../../media/imagens/index/mainbackground.jpg");background-repeat: repeat-y;background-position: center;background-attachment: fixed;background-size: 100%;align-items: center;}
.conteudo {background-color: #fff;width: 80%;min-width: 1000px;overflow:auto;}
.conteudo .menuLateral {margin-left: -15px;width: 20%; background-color: #000;display: inline-block;height: 100%;overflow:auto;}
.conteudo .menuLateral .lista {margin: 15px;}
.conteudo .menuLateral ul.menuLista {color: #fff;}
.conteudo .menuLateral ul.menuLista li {}
.conteudo .menuLateral ul.menuLista li.N1 a{font-size: 18px;color: #fff;font-weight: bolder;}
.conteudo .menuLateral ul.menuLista li.N1 a:hover{color: #7b0000;background-color: #fff;}
.conteudo .menuLateral ul.menuLista li.N2 a{margin-left: 15px;color: #fff;}
.conteudo .menuLateral ul.menuLista li.N2 a:hover{color: #7b0000;background-color: #fff;}

.conteudo .paginaFuncao {background-color: #fff;float:right;width: 80%;display: block;height: 100%;overflow:auto;}
.conteudo .paginaFuncao .funcao {margin: 15px;}
                    
/*PRODUTOS HOME*/
.conteudo .paginaFuncao .funcao ul.galeriaProduto {}
.conteudo .paginaFuncao .funcao ul.galeriaProduto li {width: 30%;margin-left: 3%;margin-top: 40px;display: inline-block;}
.conteudo .paginaFuncao .funcao ul.galeriaProduto li img{width: 30%; margin: 0 auto;}
.conteudo .paginaFuncao .funcao ul.galeriaProduto li h3 {text-align: center;}

/*#teste .listagemProdutos ul.galeriaProduto{}
#teste .listagemProdutos ul.galeriaProduto li{width: 40%;display: inline-block;color: #000;margin-top: 40px;}
#teste .listagemProdutos ul.galeriaProduto li img{width: 30%;margin: 0 auto;}
#teste .listagemProdutos ul.galeriaProduto li h3{width: 40%;margin-bottom: 20px;margin: 33px auto;text-align: center;}
#teste .listagemProdutos ul.galeriaProduto li a{color: #fff;background-color: #7b0000;padding: 10px 48px;margin: 131px;}
#teste .listagemProdutos ul.galeriaProduto li a:hover{color: #7b0000;background-color: #fff;}*/
            
            
            
            
/*cadastro produto*/
.cadastroProduto{font-family: 'Oswald', sans-serif;background-color: #000;}
    .cadastroProduto form{background-color: #fff;width: 80%;margin: 0 auto;}
        .cadastroProduto form fieldset{margin-left: 30px;}
            .cadastroProduto form fieldset input{}
            .cadastroProduto form fieldset label{display: grid;color: #000;font-weight: bolder;font-size: 18px;margin-top: 30px;}
            .cadastroProduto form fieldset textarea{}
            .cadastroProduto form fieldset select{}
            .cadastroProduto form fieldset optiont{}
            .cadastroProduto form fieldset button{margin-top: 20px;margin-right: 30px;margin-bottom: 21px;}
            
            
/*Cadastro Categoria*/
#cadastroCategoria{background-color: #000;}
.cadastrarCategoria{padding-top: 30px;padding-bottom: 31px;}
    .cadastrarCategoria form{background-color: #fff;width: 80%;margin: 0 auto;}
        .cadastrarCategoria form fieldset{margin-left: 21px;}
            .cadastrarCategoria form fieldset ul{}
                .cadastrarCategoria form fieldset ul li{width: 19%;margin-top: 10px;}
                    .cadastrarCategoria form fieldset ul li label{margin-bottom: 11px;}
                    .cadastrarCategoria form fieldset ul li input{}
        .cadastrarCategoria form fieldset button{margin-top: 10px;margin-bottom: 10px;}           